h1 {
    font-size: 2rem;
}

h1 {
    font-size: 1.8rem;
}

h1,h2,h3,h4,.fixed-nav {
    font-family: 微软雅黑;
    line-height: 180%;
}

.fixed-nav {
    text-transform: none;
    line-height: 180%;
}

.book img {
    width: 50%
}

.post strong, .book strong {
    font-weight: bold;
}

hr {
    color: black;
    border-top: 1px solid black;
}

.others p {
    font-size: 0.7em;
}

.donatelist p {
    font-size: 0.7em;
    line-height: 1em;
}